.about-our-beans {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.content-about-our-beans {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
}
.text-beans {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  width: 346px;
}
.container-beans {
  text-align: center;
}
.img-line-beans {
  margin-top: 57px;
}
