.menu {
  width: 355px;
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  padding-top: 30px;
  z-index: 100000;
}
li {
  display: flex;
  list-style-type: none;
  font-size: 12px;
  font-family: 'Merienda', cursive;
  vertical-align: bottom;
  align-items: flex-end;
  color: #ffffff;
  z-index: 999;
  cursor: pointer;
  transition: all 0.4s ease;
}
li:hover {
  font-size: 16px;
}
ul {
  padding-inline-start: 0px;
}
